<% if object.errors.any? %>
  <h3>Oops, there's a location issue.  Please fix these errors:</h3>
  <ul>
    <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
